.logo {
  @extend %link;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  .navigation & {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  &_theme-light {
    color: var(--black-logo-color);
    margin-bottom: 20px;
  }
  &_theme-dark {
    color: var(--secondary-text-color);
  }
}
